@model MyCompanySchedule.ViewModels.Tasks.CreateVM
@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "CREATE NEW TASK";
}
<fieldset>
    <h1>ADD NEW TASK</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Tasks/Index">Tasks</a></li>
            <li class="breadcrumb-item active"><a href="#">Create</a></li>
        </ol>
    </nav>
    <form action="/Tasks/Create" method="post">  
        @Html.HiddenFor(m => m.OwnerId)
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title">
            <div class="col-2">@Html.ValidationMessageFor(m => m.Title)</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Deadline</label>
            <input type="datetime-local" class="form-control" id="Deadline" name="Deadline" value="@Model.Deadline">
            <div class="col-2">@Html.ValidationMessageFor(m => m.Deadline)</div>
        </div>
        <div class="mb-3">
             @Html.ValidationMessage("summaryError")
        </div>
        <div class="mb-3 row me-0 justify-content-end">
            <a href="/Tasks/Index" class="btn col-3 me-3 btn-outline-primary">Back</a>
            <input type="submit" class="btn col-3 btn-primary" value="Save" />
        </div>        
    </form>
</fieldset>